@import "vars";
@import "reset";
@import "global";
@import "fonts";

// start header

.header__burger__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.header {
  padding: 30px 0;
  @extend %montserrat_text;
  // font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.header.filled {
  background: rgba(19, 112, 181, 0.9);
}
.header__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__contacts {
  display: flex;
  gap: 30px;
  margin-left: 30px;
}
.header__social {
  display: flex;
  gap: 30px;
  li {
    width: 30px;
    height: 30px;
  }
}

.burger {
  z-index: 2;
}
.header__burger {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(5px);
  width: 32%;
  @extend %montserrat_text;
  color: #000;
  padding: 123px 90px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transform: translateX(100%);
  visibility: hidden;
  transition: transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
  &.active {
    transform: translateX(0);
    visibility: visible;
  }
  nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
  }
  .header__burger__contacts {
    display: flex;
    flex-direction: column;
    gap: 30px;
    ul {
      display: flex;
      gap: 30px;
      li {
        height: 30px;
        width: 30px;
      }
    }
  }
}

// hero
.hero__subtitle {
  margin-top: auto;
  z-index: 2;
  align-self: flex-end;
  max-width: 34%;
  text-align: right;
}
.hero__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 13%;
}
.hero__content {
  h1 {
    @extend %title;
    margin-bottom: 42px;
  }
}
.section__btns {
  display: flex;
  gap: 50px;
  margin-top: 30px;
}

// Burger
.burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: block;
  margin-left: 111px;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fff;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
  background-color: #000;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  background-color: #000;
  left: 5px;
}

.hero.section {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

// .hero__frame--logo {
//   width: 100%;
// }
.logo_frame {
  position: absolute;
  width: 19.5%;
  min-width: 167px;
  // height: 245px;
  top: 0;
  left: 30px;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;

  a {
    position: absolute;
    // bottom: 48px;
    // right: 102px;
    width: 38%;
    // height: 171px;

    top: 50%;
    left: 50%;
    transform: translate(-35%, -50%);
  }
}

.hero__lower-descr {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 860px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 306px;
  padding: 170px 160px 50px 160px;
}

// about

// .about__frame--upper {
//   //   @extend %upper_frame;
//   //   width: 61%;
// }
.about__content {
  // max-width: 52%;
  position: relative;
  z-index: 2;
  .section__text {
    margin-bottom: 30px;
  }
}
.about__container {
  height: 100%;
}
ul.about__features {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(19, 112, 181, 0) 0%, #1370b5 100%);
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 80px 0 30px 0;
}
.feature__icon {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.about__features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  gap: 10px;
  padding: 0 15px;
  text-align: center;
  @extend %montserrat_text;
  font-size: 20px;
  font-weight: 600;
  .feature__text {
    padding: 0 10px;
  }
}
// location
.location {
  background-color: #1370b5;
}
// .location__frame--upper {
//   @extend %upper_frame;
//   width: 61%;
// }
.location__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: auto;
}
.location__content--upper {
  z-index: 2;
  position: relative;
  // max-width: 46%;
  // max-height: 180px;
  // overflow-y: auto;
}

.location__frame--lower {
  // @extend %lower_frame;
  // max-width: 61%;
}
.location__content--lower {
  // align-self: flex-end;
  // max-width: 45%;
  z-index: 2;
  // max-height: 300px;
  // overflow-y: auto;

  .section__subtitle {
    text-align: right;
    margin-bottom: 30px;
  }
  .section__text {
    text-align: right;
  }
}
.location__map {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(50%);
  right: 50%;
}

.slick-dots li button {
  border-radius: 100%;
  border: 1px solid #fff;
}
.slick-dots li button:before {
  content: "";
}
.slick-dots li.slick-active button {
  color: #ff6501;
  background-color: #ff6501;
}

.entertainment__bg {
  height: 100%;
}

// entertainment

.entertainment {
  position: relative;
}
.entertainment__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  .slick-list,
  .slick-track,
  .slick-slide,
  div {
    height: 100%;
  }
}
.entertainment__navigation {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  gap: 10px;
  z-index: 3;
}
.entertainment__navigation__dots {
  .slick-dots {
    display: flex;
    align-items: center;

    gap: 10px;
  }
}
.nav_arrow {
  background: transparent;
}
.slick-prev-slide,
.slick-next-slide {
  display: flex;
  align-items: center;
}
.slick-dots li button {
  color: transparent;
  line-height: 0;
  font-size: 0;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;
}
.entertainment__bg__slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.entertainment__content {
  position: relative;
  z-index: 2;
  // max-width: 50%;
  // max-height: 300px;
  overflow: auto;
}
.entertainment__btns {
  margin-top: 30px;
}

// offer
.offer__content {
  z-index: 2;
  position: relative;
  .section__subtitle {
    margin-bottom: 47px;
  }
}

.offer__list li {
  //   list-style-type: decimal;
  display: flex;
  align-items: baseline;
  @extend %montserrat_text;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

// Meal
.meal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.meal__container--lower {
  height: initial;
}

.meal__content--lower {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.meal__container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.meal__content--upper {
  // max-width: 52%;
  max-height: 60%;
  overflow: auto;
}
.meal__content--lower {
  align-self: flex-end;
}
// tasting

.tasting__container {
  position: relative;
  z-index: 2;
}
// .tasting__content {
//   max-width: 55%;
//   max-height: 300px;
//   overflow: auto;
// }
.tasting__frame--upper {
  // width: 65%;
}
// coorp
.corporate__container {
  position: relative;
  z-index: 2;
}
.corporate__content {
  max-width: 55%;
  max-height: 330px;
  overflow: auto;
}
// ice
.ice-show__container {
  position: relative;
  z-index: 2;
}
.ice-show__content {
  max-width: 55%;
  max-height: 330px;
  overflow: auto;
  .section__text {
    margin-bottom: 30px;
  }
}
//wc
// .wc__container {
//   position: relative;
//   z-index: 2;
// }
.wc__content {
  max-width: 55%;
  max-height: 330px;
  overflow: auto;
}

// add
.aditional-features__content {
  max-width: 57%;
}
// steps
.order-steps__list {
  @extend %montserrat_text;
  margin-bottom: 41px;
  li {
    display: flex;
    align-items: baseline;
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}
.Ñontract-offer {
  @extend %montserrat_text;
  font-size: 14px;
}
//form
.text_label {
  max-width: 90%;
}
.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputs_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  max-height: 118px;
}
.form__apply {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputs_grid__name {
  grid-area: 1 / 1 / 2 / 2;
}
.inputs_grid__contact {
  grid-area: 2 / 1 / 3 / 2;
}
.inputs_grid__message {
  grid-area: 1 / 2 / 3 / 3;
  resize: none;
}
.form__apply__input {
  border-radius: 3px;
  padding: 10px 16px;
  background: rgba(255, 255, 255, 0.1);
  &::placeholder {
    @extend %montserrat_text;
    font-size: 20px;
  }
}
.form__apply__inputs {
  margin-bottom: 30px;
}

.clear {
  clear: both;
}

.checkBox {
  display: block;
  cursor: pointer;
  width: 15px;
  height: 15px;
  border: 3px solid rgba(255, 255, 255, 0);
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 0px 2px #fff;
}

.checkBox div {
  width: 30px;
  height: 30px;
  background-color: #fff;
  top: -30px;
  left: -30px;
  position: absolute;
  transform: rotateZ(45deg);
  z-index: 100;
}

.checkBox input[type="checkbox"]:checked + div {
  left: -10px;
  top: -10px;
}

.checkBox input[type="checkbox"] {
  position: absolute;
  left: 50px;
  visibility: hidden;
}

.transition {
  transition: 300ms ease-in-out;
}
.checkbox_row {
  @extend %montserrat_text;
  font-size: 14px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  label {
    cursor: pointer;
  }
}

// payment
.payment__content {
  max-width: 55%;

  .section__subtitle--orange {
    margin-bottom: 30px;
  }
}

.payment__list {
  @extend %montserrat_text;
  li:not(:last-child) {
    margin-bottom: 20px;
  }
}

.payment__info:not(:last-child) {
  margin-bottom: 100px;
}
.cancel__punkt {
  @extend %montserrat_text;
  text-transform: uppercase;
}
.payment__info.cancel > *:not(:last-child) {
  margin-bottom: 30px;
}

.cancel__row__title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
.section__subtext {
  @extend %montserrat_text;
  font-size: 16px;
}

// accordion

.accordion__item {
  cursor: pointer;
}
.accordion__top {
  padding: 20px;
  margin-top: -1px;
  h3 {
    color: #fff;
  }
}
.accordion__btn {
  background: transparent;
  line-height: 0;
}
// .accordion__btn {
//   cursor: pointer;
//   border-radius: 100%;
//   max-width: 50px;
//   width: 100%;
//   height: 50px;
//   background-color: transparent;
//   border: 1px solid #cacaca;
//   line-height: 0;

//   font-size: 40px;
//   transition-property: transform;
//   transition: 0.2s ease-in-out;
// }
// .accordion__top h3 {
//   font-style: normal;
//   font-weight: 700;
//   font-size: 24px;
//   line-height: 32px;
//   color: #333333;
//   transition: color 0.2s ease-in-out;
// }
// .accordion__bottom p {
//   font-style: normal;
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 32px;
//   color: #333333;
// }
// .accordion__item:active .accordion__btn {
//   transform: rotate(45deg);
// }
// .accordion__top:hover,
// .accordion__top:focus-within {
//   border-color: orange;
//   position: relative;
//   z-index: 1;
// }
// .accordion__top:hover .accordion__btn,
// .accordion__top:focus-within .accordion__btn {
//   background-color: orange;
//   border-color: orange;
//   color: #fff;
//   outline: none;
// }
// .accordion__top:hover .accordion__btn svg path,
// .accordion__top:focus-within .accordion__btn svg path {
//   fill: #fff;
// }
// .accordion__top:hover h3,
// .accordion__top:focus-within h3 {
//   color: orange;
// }

// .accordion__top:focus-within {
//   outline: 0;
// }

// .accordion__item.is-active .accordion__top {
//   border-color: orange;
// }
// .accordion__item.is-active .accordion__btn {
//   transform: rotate(45deg);
//   background-color: orange;
//   border-color: orange;
//   color: #fff;
// }
// .accordion__item.is-active .accordion__top h3 {
//   color: orange;
// }
// .accordion__item.is-active,
// .accordion__top {
//   border-bottom: none;
// }
// .accordion__item.is-active .accordion__top + .accordion__bottom {
//   border-bottom: 1px solid orange;
//   position: relative;
//   z-index: 2;
// }
.accordion {
  margin-bottom: 30px;
}
.accordion__item.ac {
  margin: 0;
  border: none;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}
.accordion__bottom {
  p {
    padding: 0 20px 20px 20px;
    @extend %montserrat_text;
    font-size: 18px;
  }
}

.accordion__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq__container {
  display: flex;
  flex-direction: column;
  .main-button {
    align-self: center;
  }
}
// contacts

.contacts__container {
  .contacts__link {
    display: block;
    @extend %montserrat_text;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

// footer
.footer {
  position: relative;
}

.footer__container {
  padding-left: 17%;
  display: flex;
  justify-content: space-between;
  @extend %montserrat_text;
}

.meta-col {
  .meta-col__title {
    display: block;
    margin-bottom: 19px;
  }
  .meta-col__text {
    margin-bottom: 19px;
  }
  .meta-col__link {
    display: block;

    &:not(:last-child) {
      margin-bottom: 19px;
    }
  }
}

.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.social-col {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}
.footer__social {
  display: flex;
  gap: 30px;
  li {
    height: 30px;
    width: 30px;
  }
}
@import "media";
